:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }